@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: middle;
  background: transparent;
}

textarea {
  resize: none;
  outline: none;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div {
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
  clear: both;
}

input, select {
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', '微軟正黑體', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

[v-cloak] {
  display: none;
}

html, body {
  color: #3f3f3f;
  font-family: 'Noto Sans TC', '微軟正黑體', Arial, Helvetica, sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  width: 100%;
  position: relative;
}

.header {
  padding: 9px 0;
  background-color: #dc0001;
  color: #fff;
  position: relative;
  font-size: 12px;
}

.header img {
  width: 100%;
  display: block;
}

.header a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-weight: 400;
}

.header .container {
  padding: 0;
}

.header .container .logo {
  width: 167px;
}

.header .container ul.pchome_web li:first-child a:before, .header .container ul.pchome_web li a:after {
  content: '|';
  display: inline-block;
  padding: 0 10px;
  color: #ffffff !important;
}

.header .container ul.pchome_member a {
  padding: 0 5px;
}

#site-logo {
  height: 70px;
}

#site-logo .logo {
  margin-right: 12px;
}

#site-logo h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

#site-logo .slider_box {
  padding: 7px 0 6px;
  width: 370px;
  position: relative;
  background: #fff;
}

#site-logo .slider_box img {
  width: 100%;
  display: block;
}

#site-logo .slider_box .swiper-slide {
  overflow: hidden;
}

#site-logo .slider_box .swiper-slide a {
  display: block;
  overflow: hidden;
}

/*--- goTOP ---*/
.right_box {
  display: none;
  width: 50px;
  position: fixed;
  bottom: 20px;
  right: 8px;
  z-index: 9;
  -webkit-transition: 0s;
  transition: 0s;
}

.right_box img {
  width: 100%;
}

.gotop {
  width: 42px;
  height: 42px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(164, 164, 164, 0.85);
  padding: 7px 6px 3px;
  float: right;
  background-clip: padding-box;
  border-radius: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gotop a.mb {
  display: none;
}

.gotop:hover {
  background-color: #a4a4a4;
}

@media only screen and (max-width: 1023px) {
  .header .container {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .header ul.pchome_web, .header ul.pchome_member {
    display: none !important;
  }
  .right_box {
    bottom: 6rem;
  }
}

@media only screen and (max-width: 768px) {
  #site-logo {
    margin-top: 74px;
    height: auto;
    padding: 0;
  }
  #site-logo .slider_box {
    width: 100%;
  }
  #site-logo .logo_box {
    display: none !important;
  }
  #site-logo .logo_box img {
    width: 100%;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 9px 0 7px;
    height: 35px;
  }
  .header .container .logo {
    width: 140px;
  }
  .gotop a.pc {
    display: none !important;
  }
  .gotop a.mb {
    display: block !important;
  }
}

.navbox {
  padding: 0;
  width: 100%;
  max-width: none;
  pointer-events: auto;
  position: relative;
  z-index: 11;
  background: white;
  border-top: solid 1px #e6e6e6;
}

.navbox a {
  display: block;
}

.navbox .naboxDeco {
  position: absolute;
  z-index: -1;
  bottom: 0;
  content: '';
  width: 100%;
  height: 4px;
}

.nav_wrap {
  width: 100%;
  display: block;
}

.nav_wrap a {
  padding: 15px 20px;
  color: #3f3f3f;
  display: block;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav_wrap ul.main_menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  width: 100%;
}

.nav_wrap ul.main_menu > li:hover > a {
  color: #193563;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.nav_wrap li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
}

.nav_wrap li .dropdown {
  position: absolute;
  z-index: 9;
  display: none;
  width: 300px;
  background: #fff;
  padding: 5px 0;
  text-align: left;
  -webkit-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
}

.nav_wrap li .dropdown a {
  color: #3f3f3f;
  padding: 7px 10px;
  line-height: 1.3;
}

.nav_wrap li .dropdown li {
  display: block;
}

.nav_wrap li .dropdown li.t3 a {
  font-size: 103%;
  color: #00accc;
}

.nav_wrap li .dropdown li:hover a[href] {
  background: rgba(0, 0, 0, 0.1);
}

.nav_wrap li .dropdown.sub_dp {
  width: 860px !important;
  left: 50%;
  right: 50%;
  margin-left: -430px;
}

.nav_wrap li .dropdown.sub_dp::before {
  left: 50%;
  right: 50%;
  margin-left: -9px;
}

.nav_wrap li dd {
  font-size: 105%;
  font-weight: 700;
  border-bottom: 1px solid #999;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.nav_wrap li:hover .dropdown {
  display: block;
}

.nav_wrap li.dp, .nav_wrap li.dp a {
  position: static;
}

.nav_wrap span.aw_icon {
  position: relative;
  display: inline-block;
  width: 10px;
}

.nav_wrap span.aw_icon::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  top: -10px;
  right: -1px;
  font-size: 19px;
  border: solid #3f3f3f;
  border-width: 0 2px 2px 0;
}

.nav_wrap li:hover span.aw_icon::before {
  border: solid #193563;
  border-width: 0 2px 2px 0;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #def1f0;
  position: relative;
  top: 15px;
  right: -5px;
  content: '';
}

.nav_mb {
  display: none !important;
  vertical-align: middle;
  width: 100%;
  height: 40px;
  margin: 0;
  position: relative;
  z-index: 9999;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid #cdcdcd;
  background-color: #f8f9fa;
}

.nav_mb .title_mb {
  display: none !important;
  width: 100%;
  height: 100%;
  text-align: center;
}

.nav_mb .title_mb h4 {
  font-size: 1.3rem;
  color: #3f3f3f;
  margin-left: 3px;
  line-height: normal;
}

.subfixed {
  position: fixed;
  top: 0;
  z-index: 99;
}

.navbar-toggler {
  border: 0;
  width: 30px;
  height: 20px;
  padding: 0;
  position: absolute;
  left: 15px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align-content: space-between;
  -moz-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-flex-item-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.navbar-toggler span {
  width: 100%;
  height: 2px;
  display: block;
  background-color: #343434;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar-toggler.is-open span:first-child {
  -webkit-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}

.navbar-toggler.is-open span:nth-child(2) {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.navbar-toggler.is-open span:last-child {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}

@media only screen and (max-width: 1023px) {
  .nav_wrap li .dropdown.sub_dp {
    width: 760px !important;
    margin-left: -380px;
  }
}

@media only screen and (max-width: 768px) {
  html, body {
    font-size: 14px;
  }
  .navbox {
    position: fixed;
    top: 35px;
    z-index: 99;
    border: 0;
    pointer-events: auto;
  }
  .navbox::before {
    height: 0;
  }
  .nav_mb, .nav_mb .title_mb {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .main_body {
    width: 95%;
  }
  .nav_wrap {
    display: block;
    background: #fff;
    position: fixed;
    z-index: 99;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 74px 0 4rem;
    margin: 0;
    border: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  .nav_wrap a {
    color: #505050;
    text-align: left;
    padding: 15px;
    font-size: 17px;
  }
  .nav_wrap ul {
    padding-top: 50px;
  }
  .nav_wrap ul li {
    display: block;
    border-bottom: 1px solid #cdcdcd;
  }
  .nav_wrap ul li.act span.aw_icon {
    top: 8px;
    -webkit-transform: rotatex(180deg);
    transform: rotatex(180deg);
  }
  .nav_wrap ul li .dropdown.sub_dp {
    padding: 15px 15px;
  }
  .nav_wrap ul li .dropdown {
    width: 100%;
    position: relative;
    background-color: #e8e8e8;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .nav_wrap ul li .dropdown li {
    border-bottom: 0;
  }
  .nav_wrap ul li .dropdown::before {
    border-color: transparent transparent #e3e3e3 transparent;
  }
  .nav_wrap ul li .dropdown li a {
    padding: 10px 10px 10px 30px;
    border-bottom: none;
    color: #505050;
    background-color: inherit;
    font-size: 15px;
    font-weight: 400;
  }
  .nav_wrap ul li .dropdown li a li:hover a {
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
  }
  .nav_wrap ul li:hover a {
    background: #6d6d6d;
    color: #fff;
  }
  .nav_wrap ul li dd {
    font-size: 120%;
    padding: 5px 5px 5px 28px;
  }
  .nav_wrap ul span.aw_icon {
    float: right;
    top: 17px;
    left: 0;
  }
  .nav_wrap ul span.aw_icon::before {
    border: solid #505050;
    border-width: 0 2px 2px 0;
  }
  .nav_wrap ul li:hover span.aw_icon::before {
    border: solid #fff;
    border-width: 0 2px 2px 0;
  }
  .nav_wrap ul span.aw_icon::after {
    border-color: transparent transparent #e3e3e3 transparent;
  }
  .nav_wrap.visible {
    pointer-events: auto;
    left: 0px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  .arrow-down {
    border-top: 5px solid #505050;
    position: absolute;
    top: 20px;
    right: 10px;
  }
  .cover-bg {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 88;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
  }
  .nav_wrap li:hover .dropdown {
    display: none;
  }
  .nav_wrap li.act .dropdown {
    display: block;
    margin: 0;
    width: 100% !important;
    position: static;
    padding: 15px;
  }
  .nav_wrap li.act .dropdown .dropdown_block {
    background: #fff;
    font-size: 15px;
    padding: 5px 0 8px;
    background-clip: padding-box;
    border-radius: 15px;
  }
  .nav_wrap li.act .dropdown .dropdown_block a {
    padding: 5px 5px 5px 30px !important;
    line-height: 1.5;
  }
  .nav_wrap li.act a {
    background: #6d6d6d;
    color: #fff;
  }
  .nav_wrap ul li.act span.aw_icon:before {
    border: solid #fff;
    border-width: 0 2px 2px 0;
  }
}

.left_menu {
  width: 120px;
  position: absolute;
  z-index: 99;
  left: 0;
  top: 110px;
  overflow: hidden;
  padding-left: 5px;
}

.left_menu .arrow_box {
  background: rgba(0, 0, 0, 0.8);
  width: 40px;
  height: 40px;
  margin: 0 0 3px -5px;
  cursor: pointer;
  background-clip: padding-box;
  border-radius: 0 5px 5px 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.left_menu .arrow_box .arrow {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.left_menu .arrow_box .arrow::before, .left_menu .arrow_box .arrow::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  background-color: #aaa;
  left: 50%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.left_menu .arrow_box .arrow::before {
  top: 60%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.left_menu .arrow_box .arrow::after {
  top: 36%;
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}

.left_menu .arrow_box .arrow.rotate::before {
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}

.left_menu .arrow_box .arrow.rotate::after {
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.left_menu .menu_box {
  border-radius: 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 5px 5px 10px;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.left_menu .menu_box .subtitle {
  border-bottom: solid 1px #777;
  color: #bbb;
}

.left_menu .menu_box a {
  font-weight: 400;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 1px;
  background-clip: padding-box;
  border-radius: 5px;
  -webkit-transition: .2s;
  transition: .2s;
}

.left_menu .menu_box a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.left_menu .menu_box .banner a:hover {
  background-color: unset;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.left_menu .menu_box .specialAct a {
  margin: 4px 0;
  padding: 2px;
}

.left_menu .menu_box.gohide {
  -webkit-transform: translateX(-105%);
          transform: translateX(-105%);
}

.left_menu .campaignMenu_m {
  display: none;
  width: 100%;
  font-size: 24px;
  letter-spacing: 2px;
  color: #fff;
  background: #d8000f;
  background: -webkit-gradient(linear, left top, right top, from(#8c0000), color-stop(10%, #8c0000), color-stop(30%, #c30000), color-stop(50%, #c30000), color-stop(50%, #c30000), color-stop(70%, #c30000), color-stop(90%, #8c0000), to(#8c0000));
  background: linear-gradient(to right, #8c0000 0%, #8c0000 10%, #c30000 30%, #c30000 50%, #c30000 50%, #c30000 70%, #8c0000 90%, #8c0000 100%);
}

.left_menu .campaignMenu_m li {
  width: 50%;
  text-align: center;
  position: relative;
}

.left_menu .campaignMenu_m li img {
  width: 34px;
  vertical-align: -8px;
  display: inline-block !important;
}

.left_menu .campaignMenu_m li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 9px 0;
}

.left_menu .campaignMenu_m li:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 15%;
  right: 0;
  display: block;
  width: 1px;
  height: 70%;
  background-color: #fff;
  opacity: 0.7;
}

.campaignMenuFixed {
  position: fixed;
  top: 4rem;
}

.menuMask {
  display: none;
  background-color: rgba(34, 34, 34, 0.75);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 55;
  top: 0px;
  left: 0px;
}

@media only screen and (max-width: 1024px) {
  .left_menu {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    -webkit-transform: scale(1) translateX(0);
    transform: scale(1) translateX(0);
  }
  .left_menu .campaignMenu_m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .left_menu .arrow_box {
    display: none;
  }
  .left_menu .menu_box {
    width: 100%;
    padding: 0;
    margin: 0;
    background-clip: padding-box;
    border-radius: 0 !important;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .left_menu .menu_box li.banner,
  .left_menu .menu_box li.gotop,
  .left_menu .menu_box li.subtitle {
    display: none;
  }
  .left_menu .menu_box li:nth-child(1) a {
    overflow: inherit;
  }
  .left_menu .menu_box .backToMain {
    display: none;
  }
  .left_menu {
    position: fixed;
    bottom: 0px;
    top: inherit;
    z-index: 66;
  }
  .left_menu .menu_box {
    display: none;
    background-color: inherit;
    padding: 0 8px;
    margin-bottom: 10px;
    text-align: center;
  }
  .left_menu .menu_box li {
    display: inline-block;
    position: relative;
    width: calc(100% / 3 - 6px);
    text-align: left;
    margin: 0 3px 6px;
    padding: 0;
  }
  .left_menu .menu_box a {
    text-align: center;
    padding: 8px 3px;
    color: #000;
    background-color: #eee;
  }
  .left_menu .menu_box .specialAct a {
    color: #fff;
    margin: 0;
    padding: 8px 3px;
  }
  .left_menu li.s_main,
  .left_menu ul.menu_list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-wrap: wrap;
    -webkit-box-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flexbox-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .left_menu li.s_main li,
  .left_menu ul.menu_list li {
    width: calc(100% / 3);
    padding: 3px;
  }
  .left_menu li.s_main dd.act_home,
  .left_menu ul.menu_list dd.act_home {
    display: none;
  }
  .left_menu li.s_main dd,
  .left_menu .site_evt {
    width: 100%;
    display: inline-block;
  }
  .left_menu li.s_main dd a,
  .left_menu .site_evt a {
    padding: 0;
  }
  .left_menu li.s_main dd {
    width: 60%;
    margin: 0 auto;
  }
}

#bodyContent ul.promo .picBox {
  margin-bottom: 1rem;
  overflow: hidden;
}

#bodyContent ul.promo .picBox .pic {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#bodyContent ul.promo a {
  outline: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

#bodyContent ul.promo a:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

#bodyContent ul.promo .company {
  color: #9E9E9E;
  margin-bottom: 1rem;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 0.75rem;
}

#bodyContent ul.promo .pd_title {
  color: #212121;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  text-align: start;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: calc(1rem * 2);
  overflow: hidden;
}

#bodyContent ul.promo .pd_title.product {
  -webkit-line-clamp: 3;
  height: calc(1rem * 3);
}

#bodyContent ul.promo .crowdfundingInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

#bodyContent ul.promo .crowdfundingInfo .topInfo, #bodyContent ul.promo .crowdfundingInfo .bar {
  margin-bottom: 0.5rem;
}

#bodyContent ul.promo .crowdfundingInfo .topInfo, #bodyContent ul.promo .crowdfundingInfo .bottomInfo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#bodyContent ul.promo .crowdfundingInfo .topInfo {
  font-weight: bold;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

#bodyContent ul.promo .crowdfundingInfo .topInfo .accumulationPrice {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: bold;
  color: #212121;
}

#bodyContent ul.promo .crowdfundingInfo .topInfo .countDown {
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: bold;
  color: #FBC100;
}

#bodyContent ul.promo .crowdfundingInfo .bar {
  background-color: #EEEEEE;
  width: 100%;
  height: 0.5rem;
  border-radius: 0.5rem;
}

#bodyContent ul.promo .crowdfundingInfo .bar .progress {
  height: 0.5rem;
  background: #FBC100;
  width: 100%;
  border-radius: 0.5rem;
}

#bodyContent ul.promo .crowdfundingInfo .bottomInfo {
  color: #9E9E9E;
  font-size: 0.75rem;
  line-height: 0.75rem;
}

#bodyContent ul.promo .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.25rem;
  line-height: 1.25rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  color: #FF7A4D;
}

#bodyContent ul.promo .price .mainPrice {
  font-weight: bold;
}

#bodyContent ul.promo .price .mainPrice.only {
  font-weight: normal;
  color: #9E9E9E;
  text-decoration: line-through;
  font-size: 0.75rem;
  line-height: 0.75rem;
}

#bodyContent ul.promo .price .hotPrice {
  padding-right: 0.5rem;
  font-weight: bold;
}

#pdSlider {
  position: relative;
}

#pdSlider .banner .picBox {
  overflow: hidden;
}

#pdSlider .banner .picBox .pic {
  max-width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#pdSlider .banner:hover .picBox .pic {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#pdSlider .swiper-slide {
  height: auto;
}

#pdSlider .swiper-pagination {
  position: static;
  width: auto;
}

#pdSlider .swiper-pagination span {
  margin: 0 3px;
}

#pdSlider .swiper-pagination .swiper-pagination-bullet-active {
  background: #193563;
}

#pdSlider .swiper-button-prev, #pdSlider .swiper-button-next {
  background: transparent;
  position: static;
  height: auto;
  margin: 0;
}

#pdSlider ul.promo .picBox {
  margin-bottom: 0.5rem;
  overflow: hidden;
}

#pdSlider ul.promo .picBox .pic {
  max-width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#pdSlider ul.promo a {
  outline: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-decoration: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#pdSlider ul.promo a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#pdSlider ul.promo .pd_title {
  color: #212121;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  text-align: start;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  height: calc(1rem * 1);
  overflow: hidden;
}

#pdSlider ul.promo .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: #9E9E9E;
  font-weight: bold;
}

.card_note {
  padding: 10px 0;
  color: #c3c1c1;
  background-color: #343434;
  line-height: 22px;
  font-size: 13px;
}

.card_note .left {
  margin: 0 12px;
  padding: 5px 10px;
  border: 1px solid #c3c1c1;
  font-size: 170%;
  font-weight: 500;
  letter-spacing: 5px;
  vertical-align: middle;
}

.card_note a {
  color: #c3c1c1;
  text-decoration: underline;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 1.2rem 10px 2rem;
  line-height: 22px;
  font-size: 13px;
  background-color: #000;
  color: #fff;
}

.footer li {
  margin: 0 3px;
}

.footer li.text {
  margin-right: 10px;
}

.footer li img {
  width: 40px;
}

@media only screen and (max-width: 991px) {
  .card_note {
    display: block !important;
    padding: 20px;
    text-align: center;
  }
  .card_note * {
    font-weight: 400;
  }
  .card_note .left {
    width: 310px;
    max-width: 100%;
    margin: 0 auto 8px;
  }
  .footer {
    padding-bottom: 20%;
  }
  .footer * {
    font-weight: 400;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    padding-bottom: 22%;
  }
  .card_note .left {
    font-size: 160%;
  }
}

/* ---------- 共用  ----------*/
.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.box-shadow {
  -webkit-box-shadow: 0 6px 10px rgba(134, 102, 102, 0.1);
  box-shadow: 0 6px 10px rgba(134, 102, 102, 0.1);
}

.d-block {
  width: 100%;
}

.absolute {
  position: absolute;
  left: 50%;
  right: 50%;
}

.ani_scale {
  display: block;
}

.ani_scale img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.ani_scale:hover img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

a.img-shadow {
  position: relative;
  width: 100%;
  float: left;
  display: block;
  overflow: hidden;
}

a.img-shadow::before {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a.img-shadow:hover::before {
  -webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.3);
}

/* --------------------*/
#main_slider {
  width: 100%;
  padding: 0;
  position: relative;
}

#main_slider .swiper-container, #main_slider .swiper-wrapper {
  height: 100%;
}

#main_slider a {
  display: block;
  width: 100%;
  height: 100%;
}

#main_slider .swiper-pagination {
  width: 100%;
  bottom: 5px;
}

#main_slider .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  margin: 0 2px;
  border: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#main_slider .swiper-pagination-bullet-active {
  width: 30px;
  background-clip: padding-box;
  border-radius: 50px;
}

#main_slider .swiper-button-next, #main_slider .swiper-button-prev {
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
}

#main_slider_withTitle .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-repeat: repeat-x;
  background-position: center top;
}

@media (max-width: 768px) {
  .wrap {
    background: unset !important;
  }
}

.wrap h3 {
  font-size: 2rem;
  font-weight: bold;
}

.wrap .bgM {
  z-index: -1;
  top: 0;
  left: 0;
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  display: none;
}

@media (max-width: 768px) {
  .wrap .bgM {
    display: block;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

section a {
  display: block;
}

/* ---------- 影片 ----------*/
.video-btn {
  position: relative;
  display: block;
  cursor: pointer;
}

.video-btn .overlayFade {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.video-btn img.pic {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.video-btn:hover .overlayFade {
  z-index: 3;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.video-btn:hover .icon {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

.video-btn:hover .icon::after {
  -webkit-animation: circle 1.5s infinite;
          animation: circle 1.5s infinite;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }
}

#video_box .modal-dialog {
  width: 800px;
  max-width: 96%;
}

#video_box .modal-content {
  background-color: transparent;
  border: 0;
}

#video_box .close {
  color: #fff;
  font-size: 2rem;
  margin-top: -2rem;
}

#video_box .modal-body {
  padding: 0;
}

#tv .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

#tv .video-container iframe, #tv .video-container object,
#tv .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1279px) {
  #main_slider {
    height: auto;
  }
  #main_slider .swiper-button-next, #main_slider .swiper-button-prev {
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
  }
}

@media only screen and (max-width: 768px) {
  html, body {
    font-size: 14px;
  }
  html *, body * {
    font-weight: 500;
  }
  body.act {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

body, div, span, h1, p, a, img, dl, dt, dd {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

.inset {
  text-align: center;
}

.inset a {
  color: #06c;
  font: 11px/20px normal;
}

.logotype a {
  display: block;
  width: 186px;
  height: 60px;
  text-indent: -9999px;
}

#HEADER .logotype a {
  background: url();
}

#HEADER {
  position: relative;
  height: 60px;
  width: 930px;
  margin: 0 auto;
  margin-bottom: 6px;
  border: 1px solid #e0e0e0;
  border-bottom: 0;
  background: url() repeat-x;
}

#HEADER a {
  display: block;
  position: absolute;
}

#HEADER .site_roadsign {
  width: 68px;
  height: 65px;
  left: 186px;
  top: 0;
  text-indent: -9999px;
}

#HEADER .site_ad {
  left: 312px;
  top: 16px;
  border: 1px solid #ddd;
}

#FOOTER {
  margin: 10px 0 20px;
  color: #777;
  font: 13px/1.5 Verdana;
  text-align: center;
}

#FOOTER a {
  color: #333;
  font: 13px/1.5 Verdana;
}

#FOOTER span {
  margin: 0 4px;
  color: #999;
  font: 12px/1.5 Verdana;
}

#GLOBALWRAPPER, #WRAPPER {
  margin: 0 auto;
}

#GLOBALWRAPPER {
  overflow: hidden;
  margin-bottom: 7px;
}
/*# sourceMappingURL=layout.css.map */