#contactUs{
    .block{
        background-color: $gray200;
        .infomation{
            display: flex;
            align-items: center;
            padding-top: 3rem;
            @media (max-width: 768px) {
                padding-top: 1.5rem;
            }
            .discriptionGroup{
                .discription{
                    font-weight: bold;
                    font-size: 1.5rem;
                    line-height: 1.5rem * 1.5;
                    @media (max-width: 768px) {
                        font-size: 1rem;
                        line-height: 1rem * 1.5;
                    }
                }
                .buttonGroup{
                    display: flex;
                    justify-content: space-between;
                    margin: 0 -0.5rem;
                    max-width: 465px;
                    div{
                        flex-grow: 1;
                        margin: 0 0.5rem;
                        a{
                            text-decoration: none;
                            color: white;
                            text-align: center;
                            padding: 0.25rem 0rem;
                            font-weight: bold;
                            border-radius: 0.25rem;
                        }
                    }
                }
            }
            .pic{
                display: flex;
                justify-content: center;
                img{
                    width: 100%;
                }
            }
        }
    }
}